<md-sidenav-container>

  <!-- Menu Amburguesa -->
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Angular Material2 Example App
  </md-toolbar>

  <!-- Side nav -->
  <md-sidenav #sidenav mode="over" align="start" class="app-sidenav">

    <!-- https://material.angular.io/components/component/list -->
  	<md-nav-list>
  	  <md-list-item (click)="sidenav.close()">
        <a routerLink="" routerLinkActive="active">Home</a>
  	  </md-list-item>
  	  
      <md-divider></md-divider>

      <md-list-item (click)="sidenav.close()">
        <a routerLink="/pruebas" routerLinkActive="active">Pruebas</a>
      </md-list-item>

      <md-divider></md-divider>

      <md-list-item (click)="sidenav.close()">
        <a routerLink="/customers" routerLinkActive="active">Customers</a>
     </md-list-item>

      <md-divider></md-divider>

      <a md-list-item [routerLink]="['/users']" (click)='sidenav.close()' >Users</a>

    </md-nav-list>
    <!--  
      Al parecer no hay un sidenav hecho copado en materialdesign angular2 
      por eso se debería hacer un componente menu personalizado como el que sigue
    -->
    <ul>
    	<li>Menu 1
		    <ul>
		    	<li>sub menu 1</li>
		    	<li>sub menu 2</li>
		    </ul>	
    	</li>
    	<li>Menu 2</li>
    </ul>	
  </md-sidenav>

  <!-- Contenedor principal de la app. Cambia en forma dinámica -->
  <router-outlet></router-outlet>  

</md-sidenav-container>


<!-- Action Button -->
<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>