
  <div class="app-content">

      <md-card>
         <!--md-card-subtitle>subtitulo</md-card-subtitle-->
         <md-card-title>Bienvenido</md-card-title>   
         <md-card-content>
              <p>Es la plataforma de pagos electronicos que usted puede utilizar de forma fácil y segura para cobrar a sus clientes, ofreciéndole una gran variedad de medios de pagos.</p>
         </md-card-content>
         <md-card-actions>
              <button md-button>Compartir</button>
         </md-card-actions>
      </md-card>

      <md-card>
         <!--md-card-subtitle>subtitulo</md-card-subtitle-->
         <md-card-title>Funcionamiento</md-card-title>
         <md-card-content>
              <p>.</p>
         </md-card-content>
      </md-card>

      <md-card>
         <md-card-title>Promociones</md-card-title>
         <md-card-content>
              <p>.</p>
         </md-card-content>
      </md-card>

      <md-card>
         <md-card-title>Contacto</md-card-title>
         <md-card-content>
              <p>Ante cualquier inconveniente, puede escribirnos y nos pondremos en contacto a la brevedad</p>
         </md-card-content>
         <md-card-actions>
              <button md-button>Contactanos</button>
         </md-card-actions>
      </md-card>

  </div> 
  <!--app-content-->